.booking-text{
	h1{
		font-family: $font-bold;
		font-size: 3.125rem;
		line-height: 3.5rem;
		margin-bottom: 3.125rem;
	}
	p{
		font-family: $font-book;
		font-size: 1.25rem;
		line-height: 1.6875rem;	
	}
}