/* Store Background */

#bg-h2c::before{
    background-image: url(../images/bg-h2c.jpg);
}

#bg-studio::before{
    background-image: url(../images/bg-studio.jpg);
}

#bg-productions::before{
    background-image: url(../images/bg-productions.jpg);
    opacity: .5!important;
}