form{
  ul{
    list-style: none;
    padding-left: 0px;
  }

  li{
    margin-bottom: 19px;
  }

  label{
    // float: left;
    // margin-bottom: 0;
    // font-family: $font-regular;
    // font-size: 20px;
    // letter-spacing: -0.02em;
    // line-height: 64px;
    display: none;
  }

  .btn-default{
    width: 100%;
  }

  .ginput_container{
    display: block;
    overflow: hidden;
    margin-right: 0;


    select{
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url(../images/dropdown.png) 96% no-repeat;
      height: 45px;
      background-color: none;
      border: 1px solid;
      @include border-color(transparent transparent $grey8 transparent);

      &:hover{
        border-color: $grey8;
      }
    }

    input, textarea{
      height: 45px;
      margin-bottom: 0;
      margin-right: 0;
      border: 0;
      outline: none;
      box-shadow: none;
      border-radius: 0px;
      border: 1px solid;
      @include border-color(transparent transparent $grey8 transparent);

      font-family: $font-book;

      font-size:20px;
      letter-spacing: -0.02em;
      // line-height: 64px;
      color: $black1;
      resize: none;
      &:hover,&:active, &:focus{
        box-shadow: none;
        border-color: $grey8;
        border-radius: 2px;
      }

      @include placeholder {
        color: $grey9;
      }
    }
  }

  .gform_footer{
    padding-top: 42px;
  }
}
