#about{
	height: auto;
    overflow: hidden;
	text-align: center;
	.about-shape-container{
		padding-bottom:30px;
		background-color: white;
		color: black;
		@include media($mobile){
			padding-top: 1px;
			clip-path:none;
			-webkit-clip-path:none;
		}
		@include media($rg-min){
		padding-top:30px;
		clip-path: polygon(0 0, 100% 0, 80% 53%, 100% 100%, 0 100%, 20% 53%);
		-webkit-clip-path: polygon(0 0, 100% 0, 80% 53%, 100% 100%, 0 100%, 20% 53%);	
		}
		
		h1{
			color: black;
		}
		span{
			color: black;
			font-size: 4rem;
			letter-spacing: -5px;
		}
		.about-title{
			@include media($mobile){
				font-size:2rem;
			}
			@include media($rg-min){
				font-size:2.71375rem;
			}
		}
		.about-text{
			font-size: 1.25rem;
			text-align:center;
			margin:0 auto;
			@include media($mobile){
				width:90%;
			}
			@include media($rg-min){
				width:50%;
			}
		}
	}
}