footer {
	height: 183px;
	color: $white;
	padding-top: 54px;

	@include media($mobile){
		height: auto;
	}
}


.copyright{
	color: $white;
	font-family: $font-light;
	font-size:14px;

	margin-left: 3px;

	@include media($mobile){
		margin-left: 0;
		@include span-columns(4);
		@include shift(1);
		display: block;
		text-align: center;

		font-size:14px;
		line-height: 24px;
	}

	a{
		color: $white;
		@include media($mobile){
			display: block;
		}
		&:visited{
			color: $white;
		}
	}
}

.social-links{
	float: right;
	padding-top: 14px;

	@include media($mobile){
		float: none;
		text-align: center;
	}

	ul{
		padding: 0;
	}

	li{
		display: inline-block;
		margin-right: 28px;
		&:nth-last-child(1){
			margin-right: 0;
		}
	}
	a{
		color: $white;
		font-size:50px;
		text-decoration: none;

		&:visited{
			color: $white;
		}
	}
}

footer.social-media{
	#icons-wrap{
		a{
			display: inline-block;
			padding: 15px;
			&:hover{
				border:none;
			}
			img{
				width:30px;
			}
		}
	}
}