#plays{
	.plays-grid{
		margin: 50px auto;
		width:100%;
		text-align: center;
		list-style: none;
		a:hover{
			border:none;
		}
		li{
			width:14.0625rem;
			height:14.0625rem;
			font-size: 4vw;
			line-height: 3.75rem;
  			padding-top: 3.125rem;
			background-color: black;
			color:white;
			cursor: pointer;
			font-family: $font-bold;
			display: inline-block;
			margin:20px;
			vertical-align: middle;
			@include transition(all .5s ease-in-out);
			&:hover{
				border:4px solid white;
			}
		}
	}
}