#events, #booking, #contact{
    margin-top:4.375rem;
}

#booking{
	h1, p{
		margin-left: 0!important;
		margin-right: 50px;
	}
}

section#calendar, section#booking, section#contact{
	margin-left: auto;
	margin-right: auto;
	@include media($md-screen){
		width: 90%;
	}
	@include media($lg-screen){
		width:100%;
	}
}