.subpage-bg{
	width:100%;
	text-align: center;
	margin:0;
	max-height: 100vh;
	overflow: hidden;
	position: relative;
    background: black;

    &:before {
    content: ' ';
    display: block;
    position: absolute;
    left: -10px;
  	top: -10px;
    width: 102%;
    height: 103%;
    z-index: 1;
    opacity: 0.7;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
	}
	
	.wrap-subpg, footer{
		z-index: 2;
		position: inherit;
	}

	.nav-desktop{
		li{
			display: inline-block;
			@include media($md-screen){
				@include pad(2rem);
			}
			@include media($lg-screen){
				@include pad(2.5rem);
			}
		}
	}
	.nav-logo{
		width:100px;
		margin-left: 10px;

	}

}

.wrap-subpg{
	margin: 0 auto;
	height: 100vh;

	@include media($md-screen){
		width:48rem;
	}
	@include media($lg-screen){
		width:61.875rem;
	}
}

//Productions sections layout media queries

section#about-us, section#plays, section#auditions, section#tickets, section#classes{
	margin-left: auto;
	margin-right: auto;
	@include media($md-screen){
		width: 90%;
	}
	@include media($lg-screen){
		width:100%;
	}
}

#about-us, #plays, #tickets, #classes{
	@include media($rg-min){
	height: 70vh;
    overflow-y: auto;
	}
}

