#calendar{
	@include media($mobile){
		margin-top: 6rem;
		width:90%;
	}
}
.calendar-container{
	table, div, td, tr{
		background: transparent!important;
	}
}

.view-cap, .view-container-border{
	background-color:transparent!important;
}