#contact-home{
	#icons-container{
		width:11.25rem;
		height:11.25rem;
		margin: 10px auto;

		#icons{
			width:7.89rem;
			height:5.65rem;
			margin-left:2.0625rem;
			text-align: center;
			@include transform(rotate(-45deg));
			a, a:hover{
				border: none!important;
				@include transition(all .45s ease-in-out);
			}
			a:hover, img:hover{
				@include filter(brightness(110%));
				@include transition(all .45s ease-in-out);
			}
			.icon{
				width:5rem;
				@include transform(rotate(45deg));
	    		margin-top: -1.6875rem;
	    		margin-left: -20px;
			}

		}

	}
}