.google-map{
	#map-canvas{
		top:60px;
		left:50px;
		background-image: url('../images/jgp-map.jpg');
		background-size: cover;

		@include media($md-screen){
			width:15.625rem;
			height:15.625rem;
		}
		@include media($lg-screen){
			width:21.875rem;
			height:21.875rem;
		}
	}
}