.is-active{
	display: inherit;
	opacity: 1!important;
}
.is-inactive{
	display: none;
	opacity: 0;
}
.is-visible{
	opacity:1;
	visibility: visible;
}
.is-hidden{
	opacity:0;
	visibility: hidden;
}

.is-disabled{
	opacity:.5;
	cursor: default;
	&:hover{
		cursor: default!important;
	}
	a{
		cursor: default;
		&:hover{
			cursor: default!important;
			border: none!important;
		}
	}
}

.is-enabled{
	opacity: 1;
	cursor: pointer;
	&:hover{
		cursor:pointer;
	}
}

.is-scrollable{
	overflow:auto!important;
}

a.no-decoration, a:hover.no-decoration{
  text-decoration: none!important;
  border:none!important;
}