fieldset {
  margin: 0 0 ($base-spacing / 2) 0;
  padding: $base-spacing;
}

input,
label,
select {
  display: block;
  font-family: $font-book;
  font-size: 1.875rem;
}

label {
  font-weight: bold;
  margin-bottom: $base-spacing / 4;

  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

textarea,
#{$all-text-inputs},
select[multiple=multiple] {
  background-color: transparent;
  border-radius: 0;
  border:none;
  border-bottom: 4px solid white;
  box-shadow: none;
  font-family: $font-book;
  font-size: 1.875rem;
  text-align: left;
  margin-bottom: 50px;
  padding: ($base-spacing / 3) 0;
  width: 90%;
  color:white;

  &:hover {
  }

  &:focus {
  
    box-shadow: none!important;
    outline: none !important;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $base-spacing / 4;
}

input[type="file"] {
  padding-bottom: $base-spacing / 2;
  width: 100%;
}

select {
  margin-bottom: $base-spacing;
  max-width: 100%;
  width: auto;
}

