form{
  ul{
    list-style: none;
    padding-left: 0px;
  }

  li{
    margin-bottom: 19px;
  }

  label{
    // float: left;
    // margin-bottom: 0;
    // font-family: $font-regular;
    // font-size: 20px;
    // letter-spacing: -0.02em;
    // line-height: 64px;
    display: none;
  }

  .btn-default{
    width: 100%;
  }

  .ginput_container{
    display: block;
    overflow: hidden;
    margin-right: 0;

    h1{
      margin-left:0!important;
    }

    input,
    label,
    select {
      display: block;
      font-family: $font-book;
      font-size: 1.875rem;
    }

    label {
      display:none;
      font-weight: bold;
      margin-bottom: $base-spacing / 4;

      &.required:after {
        content: "*";
      }

      abbr {
        display: none;
      }
    }

    textarea,
    #{$all-text-inputs},
    select[multiple=multiple] {
      background-color: transparent;
      border-radius: 0;
      border:none;
      border-bottom: 4px solid white;
      box-shadow: none;
      font-family: $font-book;
      font-size: 1.875rem;
      text-align: left;
      padding: ($base-spacing / 3) 0;
      width: 90%;
      color:white;

      &:focus {
      
        box-shadow: none!important;
        outline: none !important;
      }
    }

    textarea {
      resize: vertical;
    }
  }
}
