/* =Variables
-------------------------------------------------------------- */

/* Colors */
$icon-color: #ff0000;
$primary-color: #ff0000;

$base-background-color:#000000;
$darker: #d1cec6;
$lighter: #d1cec6;


$white: #ffffff;


//Blue

$blue1: #0c283f;
$blue2: #3d5365;
$blue3: #6d7e8c;
$blue4: #9ea9b2;
$blue5: #ced4d9;
$blue6: #60707e;

//Pink
$pink1: #f1658c;
$pink2: #f484a3;
$pink3: #f7a3ba;
$pink4: #f9c1d1;
$pink5: #fce0e8;


//Grey
$grey1: #f5f6f7;
$grey2: #f7f8f9;
$grey3: #f9fafa;
$grey4: #fbfbfc;
$grey5: #fdfdfd;
$grey6: #8c8c8c;
$grey7: #f2f2f2;
$grey8: #e6e6e6;
$grey9: #999999;

//Black
$black1: #202020;
$black2: #4d4d4d;
$black3: #797979;
$black4: #a6a6a6;
$black5: #d2d2d2;

$blue: #263745;
$pink: #ff989c;
$pink_hover: #ff707e;

$grey: #fbfaf9;
$border-grey: #cbc9c1;
$bg-nav-secondary: #0c273e;

$error: #c0392b;
$info: #2980b9;
$alert: #f39c12;
$success: #27ae60;



//Fonts
$title: 'League Gothic';
$content: 'Bebas Neue';

$font-bold: 'bebas_neuebold';
$font-regular: 'bebas_neue_regularregular';
$font-book: 'bebas_neuebook';
$font-light: 'bebas_neuelight';
$font-thin: 'bebas_neuethin';

